{% extends 'admin/change_list.html' %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock %}

{% block object-tools-items %}
    <li>
        <a class="download-table" href="{% url 'export_to_excel' %}">
            Скачать таблицу
        </a>
    </li>
    
    <li>
<form method="post" action="{% url 'update-schools' %}">{% csrf_token %}<button class="update-school-table" type="submit">Обновить школы</button></form>
    </li>

    {{ block.super }}

{% endblock %}